services:
  - type: web
    name: library-backend
    env: php
    plan: free
    region: singapore
    branch: main
    numInstances: 1
    healthCheckPath: /
    
    # Perintah untuk membangun aplikasi
    buildCommand: composer install --no-dev --optimize-autoloader
    
    # Perintah untuk menjalankan aplikasi (Optimasi Cache saja)
    startCommand: php artisan config:cache && php artisan route:cache && php artisan view:cache
    
    envVars:
      - key: APP_KEY
        generateValue: true
      - key: APP_NAME
        value: LibraryBackend
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: LOG_CHANNEL
        value: stderr
      
      # PENTING: Beritahu Render untuk menggunakan folder public
      - key: DOCUMENT_ROOT
        value: public

      # Database Configuration (Wajib diisi di Render Dashboard)
      - key: DB_CONNECTION
        value: mysql
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: 4000
      - key: DB_DATABASE
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
      
      # Path Sertifikat SSL (Sesuai lokasi di storage Laravel)
      - key: MYSQL_ATTR_SSL_CA
        value: storage/cacert.pem
