services:
  - type: web
    name: library-backend
    env: php
    plan: free
    region: singapore
    branch: main
    numInstances: 1
    healthCheckPath: /
    
    # Perintah untuk membangun aplikasi
    buildCommand: composer install --no-dev --optimize-autoloader
    
    # Perintah untuk menjalankan aplikasi (Optimasi Cache saja)
    startCommand: php artisan config:cache && php artisan route:cache && php artisan view:cache
    
    envVars:
      - key: APP_KEY
        value: base64:7j8rY9rY9rY9rY9rY9rY9rY9rY9rY9rY9rY9rY9rY9r=
      - key: APP_NAME
        value: "UNILAM Library"
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: "true"
      - key: APP_TIMEZONE
        value: Asia/Jakarta
      - key: LOG_CHANNEL
        value: stderr
      
      # PENTING: Beritahu Render untuk menggunakan folder public
      - key: DOCUMENT_ROOT
        value: public

      # Database Configuration
      - key: DB_CONNECTION
        value: mysql
      - key: DB_HOST
        value: gateway01.ap-southeast-1.prod.aws.tidbcloud.com
      - key: DB_PORT
        value: "4000"
      - key: DB_DATABASE
        value: test
      - key: DB_USERNAME
        value: 2HSZkUNNK1LiwJL.root
      - key: DB_PASSWORD
        value: mAgO73HA2BnH4n6i
      
      # Drivers
      - key: CACHE_DRIVER
        value: database
      - key: SESSION_DRIVER
        value: database
      - key: QUEUE_CONNECTION
        value: database
      - key: FILESYSTEM_DISK
        value: public

      # Fonnte API
      - key: FONNTE_API_TOKEN
        value: Dgz15dVAuCJWLcL3yaJC
      - key: FONNTE_BASE_URL
        value: https://api.fonnte.com
      
      # Path Sertifikat SSL TiDB
      - key: MYSQL_ATTR_SSL_CA
        value: storage/cacert.pem